@model IEnumerable<ApplicationCore.Domain.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="index">
    <fieldset>
        <legend> Recherche</legend>
        Saisir une partie du login :
        <input type="text" name="login" />
        <input type="submit" value="Serach" />

    </fieldset>

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Identifiant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConseillerFk)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Identifiant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                    <img src="~/uploads/@item.Photo" width="50" height="50">
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConseillerFk)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Identifiant  }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                 <a asp-controller="Conseiller" asp-action="Details" asp-route-id="@item.ConseillerFk">Conseiller Client</a>

            </td>
        </tr>
}
    </tbody>
</table>
